/* Body styles */

body {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Quicksand', sans-serif;
}

/* Navbar styles */

.navbar-brand {
  margin-rigth: 0px;
}

/* Carousel styles */

.carousel-caption {
  background: rgba(50,50,50,.5);
  bottom: 3rem;
}

.carousel-caption p {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.4;
  z-index: 1000;
}

.carousel-item {
  opacity: 1;
  height: 95vh;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  min-width: 100%;
  object-fit: cover;
  height: 95vh;
}

.black-and-white {
  filter: saturation(50%) contrast(105%);
}

/* Content styles */

.content .col-lg-4 {
  text-align: center;
  margin-bottom: .75rem;
}

.content .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.content .header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content .title {
  text-align: center;
  margin-bottom: 2rem;
}

/* Software Development styles */

.item-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Portfolio styles */

.media > img {
  height: 128px;
}

.album {
  padding-bottom: 3rem;
}

/* Page styles */

.page-divider {
  margin: 2rem 0;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Mobile style */

@media (max-width: 768px) {
  .carousel {
    display: none;
  }
  .content .header {
    margin-top: 2rem;
  }
  .content .title {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
